*{
    margin: 0;
    padding: 0;
    font-family: "Happy Monkey", sans-serif;
}

:root {
    --cor-fundo-pagina: #764300; 
    --cor-card-fundo: #ffcc00; 
    --cor-botao-marrom: #764300;
    --cor-texto: #333; 
    --cor-destaque: #916834; 
}

body {
    margin: 0;
    padding: 0;
    color: var(--cor-texto);
    background-color: var(--cor-fundo-pagina); 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-card {
    background-color: var(--cor-card-fundo); 
    border: none;
    
    padding: 40px 80px; 
    width: 652px; 
    height: 100vh;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}


.logo { 
    margin-bottom: 20px; 
}
.logo-img { 
    width: 250px; height: auto; display: block; margin: 0 auto; 
}
.cadastro-card h1 { 
    font-size: 2.5em; margin-top: 20px; margin-bottom: 10px; 
}
.cadastro-card p { 
    color: #555; margin-bottom: 30px; 
}
.campo { 
    text-align: left; margin-bottom: 25px; 
}
.campo label { 
    display: block; font-weight: bold; margin-bottom: 8px; 
}
.campo input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 1.1em;
}
.campo input:focus { 
    border-color: var(--cor-destaque); outline: none; 
}
.btn-cadastrar {
    background-color: var(--cor-botao-marrom);
    color: white;
    border: none;
    padding: 15px 40px;
    width: 50%;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px; 
    transition: background-color 0.2s;
}
.btn-cadastrar:hover { 
    background-color: var(--cor-destaque); 
}
.login-area { 
    margin-top: 0; 
}
.link-login {
    display: block;
    font-size: 0.9em;
    color: var(--cor-texto);
    text-decoration: underline;
}
.link-login:hover { 
    color: var(--cor-destaque); 
}
