*{
    margin: 0;
    padding: 0;
    font-family: "Happy Monkey", sans-serif;
}

#header{
    width: 100%;
    height: 15%;
    z-index: 1;
    position: fixed;
    background-color: #FFDE57;
    display: inline;
}

#logo{
    width: 320px;
    height: 150px;
    position: relative;
    left: -350px;
    top: -120px;
}

.linha{
    width: 1px;
    height: 70px;
    background-color: white;
    position: relative;
    left: 220px;
    top: 15px;
}

#menu li{
    display: inline;
    list-style-type: none;
    margin-right: 50px;
    position: relative;
    left: 240px;
    font-size: 25px;
    background-color:#764300;
    color: #EBA714;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    top: -10px;
    transition: background-color 0.2s;
}

#menu li:hover { 
    background-color: #EBA714;
    color: #764300; 
}

#pesquisar{
    width: 250px;
    height: 35px;
    background-color: #FFFFFF;
    position: relative;
    left: 1020px;
    top: -200px;
    opacity: 0.5;
    color: black;
}

.lupa{
  position: relative;
  left: 1030px;
  top: -199px;
  background-color: #FFFFFF;
  padding: 10px;
  border: 1px solid grey;
  opacity: 0.5;
}

#postagens{
  width: 65.7%;
  height: 100vh;
  position: relative;
  top: 100px;
}

.hum{
  position: relative;
  top: 30px;
  left: 20px;
}

#container-filtro{
  display: flex;
  flex-direction: row-reverse;
  color: white;
  font-size: 25px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  position: relative;
  left: 14px;
  top: 50px;
}

.postagem{
  width: 866px;
  height: 200px;
  padding: 0 4px;
  background-color: white;
  position: relative;
  top: 50px;
  left: 20px;
  display: flex;
  flex-direction: column;
}

.caixa-postar{
  border: 0px;
  height: 150px;
  width: 866px;
  resize: none;
  border-bottom: 1px solid grey;
}

.container-botao-postar{
  display: flex;
  flex-direction: row-reverse;
}

.linha2{
  width: 1px;
  height: 100vh;
  background-color: white;
  position: relative;
  left: 450px;
  top: -780px;
}

.column {
  flex: 25%;
  max-width: 66.5%;
  padding: 0 3px;
}

.column div {
  margin-top: 8px;
  vertical-align: middle;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.column textarea{
  background-color: white;
  resize: none;
  overflow: hidden;
  border: 0px;
}

.horario-curtidas {
  display: flex !important;
  flex-direction: row !important;    
}

.horario-curtidas h5, h6 {
  margin: 0;                
  opacity: 0.5;
  align-items: flex-end;
}

.horario-curtidas .coracao {
  color: red;           
  cursor: pointer;   
  margin-bottom: 5px;    
  margin-right: 280px;
}


.linha3{
  border: 1px solid grey;
  margin-top: 5px;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

a {
    text-decoration: none;
    color: inherit;
}