<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil | Mural de Frases</title>
    <link rel="stylesheet" href="/static/css/perfil.css"> 
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
    </style>
</head>
<body>

    <main class="container-perfil">
        
        <header class="perfil-header">
            <div class="perfil-info">
                <h1 class="nome-usuario-perfil">{{ nome_usuario }}</h1> 
                
                <a href="{{ url_for('mural', nome=nome_usuario)}}" class="btn-sair">Voltar</a>
            </div>
            
            <div class="estatisticas">
                <div class="stat-item">
                    <span class="stat-number">{{ total_frases }}</span>
                    <span class="stat-label">Frases Publicadas</span>
                </div>
                <div class="stat-item">
                    <span class="stat-number">{{ total_curtidas }}</span>
                    <span class="stat-label">Total de Curtidas</span>
                </div>
            </div>
        </header>

        <section class="mural-frases">
            
            <h2>Minhas Publicações</h2>

            {% if frases %}
                {% for frase in frases %}
                <div class="frase-card">
                    <p class="frase-texto">{{ frase.texto_frase }}</p>
                    <div class="frase-footer">
                        <span class="data-publicacao">Publicado em {{ frase.data_postagem.strftime('%d/%m/%Y às %H:%M') }}</span>
                        <div class="curtidas">
                            <span class="curtidas-count">{{ frase.curtidas_count }}</span>
                            <span class="curtidas-label">curtidas</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>Você ainda não postou nenhuma frase.</p>
            {% endif %}
            
        </section>

    </main>

</body>
</html>